# Ignore everything
*

# Allow specific folders at root
!.gitignore
!README.md
!.github/
!.github/**
!wp-content/
!wp-content/plugins/
!wp-content/plugins/custom-gutenberg-block/
!wp-content/plugins/custom-gutenberg-block/**
!wp-content/themes/
!wp-content/themes/twentytwentyfive/
!wp-content/themes/twentytwentyfive/**

# Allow Gatsby folder
!gatsby-wp-demo/
!gatsby-wp-demo/**
!gatsby-wp-demo/node_modules/
!gatsby-wp-demo/public/

# Ignore everything else in plugins/themes not explicitly included
wp-content/plugins/*
!wp-content/plugins/custom-gutenberg-block/
wp-content/themes/*
!wp-content/themes/twentytwentyfive/

# Global ignores
node_modules/
