# Ignore everything
*

# Allow root-level files and folders that we want
!.gitignore
!README.md
!gatsby-wp-demo/
!wp-content/
!.github/

# Allow workflows
!.github/workflows/

# Allow contents of gatsby-wp-demo
!gatsby-wp-demo/**
!gatsby-wp-demo/node_modules/
!gatsby-wp-demo/public/

# Ignore all plugins and themes
wp-content/plugins/*
wp-content/themes/*

# Allow only specific plugin and theme
!wp-content/plugins/custom-gutenberg-block/
!wp-content/plugins/custom-gutenberg-block/**
!wp-content/themes/twentytwentyfive/
!wp-content/themes/twentytwentyfive/**
